{% extends "base.html" %}
{% load static %}
{% block content %}
<div>


The Product Catalog contains:<br>
● Product categories<br>
    ● Product categories<br>
    ● Product tags<br>
        ● Product countries<br>
● Products which belong to some category,tag, country (one product may belong to one category, tag, country)<br>
<br>The following actions can be implemented in this application:<br>
● Getting the list of all categories<br>
● Getting the list of products of the concrete category<br>

● Getting the list of all tags<br>
● Getting the list of products of the concrete tags<br>


● Getting the list of all countries<br>
● Getting the list of products of the concrete countries<br>
</div>

{% endblock content %}
