{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
        <div class="title-bar">
        <div class="col-md-12">
            <h2 class="text-center">Country list</h2>
            <div class="heading-border"></div>
        </div>
    </div>
    <div class="row">
        {% for country in countries %}

        <div class="col-lg-2"><h4><a href="{% url 'country_detail' country.pk %}">{{ country.name }}</a></h4></div>

        {% endfor %}
    </div>
</div>

{% endblock %}
